/*
  BASIC STYLES!
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
}

body * {
  vertical-align: top;
}

/*
  UTILITIES
*/
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

/*
  HEADER STYLES
*/
.header {
  color: #fff;
  height: 60px;
  background: url('images/header-bg.png') repeat-x top left;
}

.header .logo {
  margin-top: 10px;
}

.header .nav {
  display: inline-block;
  margin: 16px 0 0 38px;
  padding: 0;
}

.header .nav li {
  display: inline;
  margin-right: 38px;
  font-size: 17px;
  letter-spacing: 1px;
  text-shadow: 0 1px 1px #000;
  list-style-type: none;
  text-transform: uppercase;
}

.user-menu {
  position: absolute;
  top: 5px;
  right: 0;
}

.user-menu .username {
  margin-top: 12px;
  display: inline-block;
  margin-left: 20px;
}

.user-menu .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.user-menu .user-menu-button {
  width: 20px;
  height: 20px;
  margin-top: 13px;
  margin-left: 5px;
  display: inline-block;
  background: url('images/triangle.png') no-repeat center center;
}

/*
  STATS STYLES
*/

.sidebar {
  display: inline-block;
}

.join-mob {
  height: 300px;
  margin-left: 20px;
  width: 300px;
}

.join-mob .join-button {
  position: relative;
  margin-top: 30px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-shadow: 0 1px 1px #9B6C00;
  font-size: 20px;
  text-align: center;
  border: 1px solid rgb(185, 129, 0);
  border-radius: 6px;
  box-shadow: inset 0 1px 1px 0    #fff,
                    0 2px 3px -1px #B8B6B6;

  background: #f9dd00; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9dd00 0%, #dd9a00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9dd00), color-stop(100%,#dd9a00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9dd00 0%,#dd9a00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9dd00 0%,#dd9a00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9dd00 0%,#dd9a00 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f9dd00 0%,#dd9a00 100%); /* W3C */
}

.join-card {
  width: 280px;
  margin: -20px auto 0;
  border: 1px solid rgb(162, 162, 162);
  border-radius: 6px;
  background: #fff;
  height: 200px;
}